#payment-done {
    main{
        section{
            header {
                margin-top: 0;
                margin-top: var(--space);
                margin-bottom: 0;
            }
            flex-direction: column;
            >div {
                flex-direction: column;
                padding: var(--space);
                span {
                    margin-bottom: var(--space);
                    color: var(--gray-0);
                    font-size:22px;
                    &.last-child {
                        margin-bottom: 0;
                    }
                    small {
                        margin:0;
                    }
                }
            }
        }
        footer {
            justify-content: center;
            a {
                @include button-green;
            }
                
            
        }
    }
}

@media (min-width:1200px) {
 #payment-done {
     main {
        section {
                >div {
                    small{
                        display: block;
                    }
                }
            
        footer {
            justify-content: flex-start;
     }
 
}
}  
}
}
