:root {
    --bg-color: #FFF;
    --white: #fff;
    --black: #000;
    --black-hover:#1111;
    --black-active:#2222;
    --black-10:#0000001a;
    --black-50: rgba(0, 0, 0, .5);
    --black-75:#000000bf;
    --dark-0:#333333;
    --dark-1:#0000008f;
    --gray: #79756c;
    --gray-0:#707070;
    --gray-1: #7e7e7e;
    --gray-2:#9a9a99;
    --gray-3:#cccccc;
    --gray-4:#00000029;
    --gray-5:#e5e3df8f;
    --gray-6:#f8f8f8;
    --gray-7:#e5e3df;
    --gray-8:#dddddd;
    --gray-9:#999999;
    --gray-10:#eeeeee;
    --gray-11:#444444;
    --gray-12:#e8e8e8;
     --red: #e32119;
    --red-hover:#e44238;
    --red-active: #c91d16;
    --green:#00994d;
    --green-active:#00773c;
    --green-hover:#008e60;
    --blue:#199bd4;
    --blue-hover:#1cabe9;
    --blue-active:#00a0e6;
    --success: #d4edda;
    --success-border: #c3e6cb;
    --success-color: #155724;
    --danger: #f8d7da;
    --danger-border: #f5c6cb;
    --danger-color: #721c24;


    --space: 20px;
    --border-radius: 5px;



}